html {
    font-size: 12px;
    margin: auto;
    text-align: center;
    height: 100%;
    position: relative;

}

body {
    font-family: arial, sans-serif;
 /*   display: block;
    position: relative;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;*/
}

main {

}

a {
    text-decoration: none;
    font-size: 13px;
    color: rgba(0,0,0,0.75);
}

a:hover {
    text-decoration: underline;
}

.header {
   padding-top: 10px;
   display: flex;
   justify-content: space-between;
   vertical-align: middle;
}

.header-left {
    display: inline-block;
    padding-left: 15px;
}

.header-right {
    padding-top: 10px;
    text-align: right;
    text-justify: auto;
    padding-right: 15px;
    align-items: center;
}

#google-menu-icon {
    vertical-align: middle;
}

#gmail-profile {
    vertical-align: middle;
}

#logo {
    width: 20%;
    padding-top: 109px;
}

#google-search-bar {
    width: 550px;
    padding: 12px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-radius: 30px;
    margin-top: 0;
    outline: none;
}

#google-search-bar:hover {
    box-shadow: 1px 1px 5px rgba(63,63,63,0.15), -1px -1px 3px rgba(63, 63, 63, 0.15);
}

button {
    width: 180px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #3c4043;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.801);
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px rgba(0,0,0,0.25);
}

#google-menu-icon {
    width: 2%;
    opacity: 65%;
}

#google-menu-icon:hover {
    opacity: 100%;
}

#gmail-profile {
    width: 5%;
    border-radius: 50%;
}

.footer {
    position: fixed;
    font-size: 15px;
    width: 100%;
    bottom:0;
    left:0;
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 12px;
    border-top: solid #dadce0; 
    display: flex;
    justify-content: space-between;
}
.footer-left {
    padding-left: 20px;
}
.footer-right {
    padding-right: 20px;
}
.footer-center {
    text-align: center;
    padding-right: 100px;
    padding-left: 10px;
}
#leaf-image{
    padding-right: 10px;
    width: 12px;
}